---
import MainLayout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Section from "../../components/Section.astro";
import Card from "../../components/Card.astro";
---

<MainLayout title="Compétitions – CAPO Judo Limoges">
    <Hero
        title="Les Compétitions"
        subtitle="Calendrier des compétitions et événements du club."
        small={true}
    />
    <Section>
        <h2>Mars 2026</h2>
        <div class="grid-2">
            <Card>
                <h3>Championnat Interdépartemental <span class="schedule-highlight">Seniors</span> 3ème Division</h3>
                <p><strong>Date :</strong> 08 mars 2026</p>
                <p><strong>Lieu :</strong> Dojo Municipal – Avenue Léo Lagrange, Brive-la-Gaillarde</p>
                <p>Ouverture inscriptions : 05/01/2026<br/>Clôture : 06/03/2026</p>
            </Card>
            <Card>
                <h3>Tournoi du Judo Club Ussel</h3>
                <p><strong>Catégories :</strong> <span class="schedule-highlight">Micro-Poussins à Minimes</span></p>
                <p><strong>Date :</strong> 14 mars 2026</p>
                <p><strong>Lieu :</strong> Salle des Fêtes – 3 Rue du Stade, Ussel</p>
                <p>Inscriptions : 30/01 → 12/03</p>
            </Card>
            <Card>
                <h3>Tournoi Régional N.A <span class="schedule-highlight">Benjamin(e)s</span> – Corrèze</h3>
                <p><strong>Date :</strong> 15 mars 2026</p>
                <p><strong>Lieu :</strong> Dojo Municipal – Brive-la-Gaillarde</p>
                <p>Inscriptions : 05/01 → 13/03</p>
            </Card>
            <Card>
                <h3>Animation Jeune Condat-sur-Vienne</h3>
                <p><strong>Catégories :</strong> <span class="schedule-highlight">Micro & Mini-Poussins</span></p>
                <p><strong>Date :</strong> 28 mars 2026</p>
                <p><strong>Lieu :</strong> Gymnase Claude Lachèze – Condat-sur-Vienne</p>
            </Card>
            <Card>
                <h3>Animation Jeune Condat-sur-Vienne</h3>
                <p><strong>Catégories :</strong> <span class="schedule-highlight">Poussins</span></p>
                <p><strong>Date :</strong> 29 mars 2026</p>
                <p><strong>Lieu :</strong> Gymnase Claude Lachèze – Condat-sur-Vienne</p>
            </Card>
            <Card>
                <h3>Championnat Zone B <span class="schedule-highlight">Cadets Espoirs</span></h3>
                <p><strong>Date :</strong> 29 mars 2026</p>
                <p><strong>Lieu :</strong> Dojo Départemental Michel Dasseux – Coulounieix-Chamiers</p>
                <p>Inscriptions : 21/02 → 19/03</p>
            </Card>
        </div>
    </Section>
    <Section alt>
        <h2>Avril 2026</h2>
        <div class="grid-2">
            <Card>
                <h3>Challenge Georges Pfeifer – Jour 1</h3>
                <p><strong>Date :</strong> 04 avril 2026</p>
                <p><strong>Lieu :</strong> Halle des Sports – Saint Léonard de Noblat</p>
                <p>Poussins → Seniors + Para Judo</p>
                <p>Inscriptions : 18/02 → 01/04</p>
                <p><strong>Horaire :</strong></p>
                <p class="schedule-highlight">
                    POUSSINES : 9H00 - 9H30
                    POUSSINS : 9H30 - 10H00
                    BENJAMIN.E.S : 10H45 - 11H15
                    MINIMES : 14H00 - 14H30
                    PARA JUDO ADAPTEE à partir de Cadet.te.s et + : 14H00 - 14H30
                    CADET.TE.S : 16H30 - 17H00
                    JUNIORS / SENIORS : 17H30 - 18H00<br/>
                    UV4 ET ÉCOLE D'ARBITRAGE : 09H00 <br/>
                    (rendez-vous à la table centrale)
                </p>
            </Card>
            <Card>
                <h3>Challenge Georges Pfeifer – Jour 2</h3>
                <p><strong>Date :</strong> 05 avril 2026</p>
                <p><strong>Lieu :</strong> Halle des Sports – Saint Léonard de Noblat</p>
                <p>Micro et Mini-Poussins</p>
                <p><strong>Horaire :</strong></p>
                <p class="schedule-highlight">
                    Micro-poussines : 09h00 - 09h30<br/>
                    Micro-poussins : 09h30 - 10h00<br/>
                    Mini-poussines : 10h30 - 11h00<br/>
                    Mini-poussins : 13h30 - 14h00
                </p>
            </Card>
            <Card>
                <h3>Coupe Interdépartementale & Animation Loisirs</h3>
                <p><strong>Date :</strong> 25 avril 2026</p>
                <p><strong>Lieu :</strong> Limoges</p>
                <p class="schedule-highlight">Toutes catégories Seniors</p>
            </Card>
            <Card>
                <h3>Tournoi Régional <span class="schedule-highlight">Minimes</span> – Charente</h3>
                <p><strong>Date :</strong> 25 avril 2026</p>
                <p><strong>Lieu :</strong> Dojo Départemental – Roullet Saint Estèphe</p>
                <p>Inscriptions : 25/02 → 23/04</p>
            </Card>
        </div>
    </Section>
    <Section>
        <h2>Mai 2026</h2>
        <div class="grid-2">
            <Card>
                <h3>Tournoi Cœur de Lion – JC Chalus</h3>
                <p><strong>Date :</strong> 02 mai 2026</p>
                <p><strong>Lieu :</strong> Gymnase Municipal – Chalus</p>
                <p>Mini-Poussins → Minimes</p>
                <p>Inscriptions : 02/02 → 30/04</p>
                <p><strong>Horaire :</strong></p>
                <p class="schedule-highlight">
                    Mini-Poussin(e)s : 9h - 9h30<br/>
                    Benjamin(e)s : 10h45 - 11h<br/>
                    Poussin(e)s : 13h40 - 14h<br/>
                    Minimes : 15h - 15h30
                </p>
            </Card>
            <Card>
                <h3>Tournoi de Rilhac-Rancon</h3>
                <p><strong>Date :</strong> 30 mai 2026</p>
                <p><strong>Lieu :</strong> Gymnase Municipal – Rilhac-Rancon</p>
                <p class="schedule-highlight">Poussins → Seniors</p>
                <p>Clôture : 20/05</p>
            </Card>
            <Card>
                <h3>Tournoi de Rilhac-Rancon</h3>
                <p><strong>Date :</strong> 31 mai 2026</p>
                <p><strong>Lieu :</strong> Gymnase Municipal – Rilhac-Rancon</p>
                <p class="schedule-highlight">Mini-Poussins</p>
            </Card>
        </div>
    </Section>
    <Section alt>
        <h2>Juin 2026</h2>
        <div class="grid-2">
            <Card>
                <h3>Tournoi des Arts et du Feu – Panazol</h3>
                <p><strong>Date :</strong> 13 juin 2026</p>
                <p><strong>Lieu :</strong> Gymnase Guillemot – Panazol</p>
                <p class="schedule-highlight">Micro-Poussins → Benjamins</p>
                <p>Inscriptions : 01/04 → 06/06</p>
            </Card>
            <Card>
                <h3>Assemblée Générale du Club</h3>
                <p><strong>Date :</strong> 19 juin 2026 – 18h30</p>
                <p><strong>Lieu :</strong> Centre de Loisirs SNCF</p>
                <p>Suivie du repas de l'amitié.</p>
            </Card>
            <Card>
                <h3>Fin de la saison 2025 / 2026</h3>
                <p>Clôture officielle de la saison sportive du CAPO Judo Limoges.</p>
            </Card>
        </div>
    </Section>
</MainLayout>