---
import MainLayout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Section from "../../components/Section.astro";
---

<MainLayout title="Inscriptions – CAPO Judo Limoges">
    <Hero
        title="Inscriptions au CAPO Judo"
        subtitle="Rejoignez notre club pour la saison en cours."
        small={true}
    />
    <Section>
        <h2>Documents à fournir</h2>
        <ul class="doc-list">
            <li>
                <a href="/pdf/fiche-inscription.pdf" target="_blank">
                    Fiche d'inscription
                </a>
            </li>
            <li class="doc-cert">
                Lors de la première inscription, certificat médical portant la mention :
                <em>« Apte à la pratique du judo, y compris en compétition »</em>.
                <br />
                <small>
                    Valable 3 ans sous réserve que les questionnaires de santé soient remplis.
                </small>
            </li>
            <li>
                <a href="/pdf/questionnnaire-sante-mineur.pdf" target="_blank">
                    Questionnaire de santé pour les mineurs
                </a>
            </li>
            <li>
                <a href="/pdf/attestation-questionnaire-sante-mineur.pdf" target="_blank">
                    Attestation Questionnaire santé mineurs
                </a>
            </li>
            <li>
                <a href="/pdf/reglement-club.pdf" target="_blank">
                    Règlement du club signé
                </a>
            </li>
        </ul>
    </Section>

    <!--<Section alt>-->
    <!--    <h2>Tarifs - Saison {new Date().getFullYear()} - {new Date().getFullYear() + 1}</h2>-->
    <!--    <img src="/images/tarifs.jpg" alt="Tarifs CAPO Judo Limoges"/>-->
    <!--</Section>-->

    <Section alt>
        <h2>Moyens de paiement</h2>
        <ul class="payment-list">
            <li>Chèques</li>
            <li>Espèces</li>
            <li>Virement possible</li>
        </ul>
        <p>Paiement possible en plusieurs fois (de septembre à avril)</p>
        <p class="payment-required">Un premier versement de 60 € est demandée lors de l'inscription afin de couvrir les frais de licence et cotisations omnisport</p>
        <p>Le club est agréé / partenaire pour les dispositifs suivants :</p>
        <ul class="payment-list">
            <li>Tickets Loisirs CAF 87</li>
            <li>Pass'sport</li>
            <li>Shake@do.87</li>
            <li>Pass'club</li>
        </ul>
    </Section>
</MainLayout>