---
import MainLayout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Section from "../../components/Section.astro";
---

<MainLayout title="Les Dojos – CAPO Judo Limoges">
    <Hero
            title="Les Dojos"
            subtitle="Les lieux d'entraînement du CAPO Judo Limoges"
            small={true}
    />
    <Section>
        <h2>Dojo Roland LACOUR</h2>
        <img
                src="/images/dojo-roland-lacour.jpg"
                alt="Dojo Roland Lacour – CAPO Judo Limoges"
                class="dojo-image"
        />
        <p>
            Le dojo principal du CAPO Judo Limoges est situé à proximité du centre-ville.<br />
            C'est dans cette salle que se déroulent la majorité des entraînements et des
            activités du club.
        </p>
        <p>
            <strong>Adresse :</strong>
            <a
                    style="font-weight: bold"
                    href="https://www.google.com/maps/place/Dojo+AIKIDO+C.A.P.O.+Limoges/@45.8350898,1.2687463,19.5z/data=!4m15!1m8!3m7!1s0x47f934bff20fffff:0x3ab70d92b2b67a98!2s25+Av.+de+Locarno,+87000+Limoges!3b1!8m2!3d45.8393992!4d1.2673115!16s%2Fg%2F11rgdjhxv7!3m5!1s0x47f935cfcf629183:0x650c7fe31c3813a9!8m2!3d45.835579!4d1.2689044!16s%2Fg%2F11thsr_bt2"
                    target="_blank"
                    rel="noopener"
            >
                25 avenue Locarno – 87100 Limoges
            </a>
        </p>
    </Section>
    <Section alt>
        <h2>Dojo du Mas Eloi</h2>
        <img
                src="/images/dojo-mas-eloi.jpg"
                alt="Dojo école alternative Mas Eloi"
                class="dojo-image"
        />
        <p>
            Le CAPO Judo Limoges intervient également à l’
            <strong>École alternative du Mas Eloi</strong>.
        </p>
        <p>
            Les cours dans ce dojo sont
            <strong>réservés aux élèves de l’école</strong>.
        </p>
    </Section>
</MainLayout>