---
import Hero from "../../components/Hero.astro";
import Section from "../../components/Section.astro";
import MainLayout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<MainLayout title="Résultats sportifs – CAPO Judo Limoges">
    <Hero
        title="Résultats sportifs"
        subtitle="Les performances des judokas du CAPO Judo Limoges."
        small={true}
    />
    <Section>
        <div class="grid-cards">
            <Card variant="result">
                <h3>Tournoi de Saint-Léonard</h3>
                <strong>2ème – Jules ROUSSEAU (Poussin)</strong>
                <img
                    src="/images/resultats/tournoi-st-leonard-poussin.jpg"
                    alt="Tournoi de Saint-Léonard – Jules Rousseau"
                    class="result-img"
                />
            </Card>
            <Card variant="result">
                <h3>Compétition de Saint-Léonard</h3>
                <strong>3ème - Maelle BESSON LAHAYE</strong>
                <img
                    src="/images/resultats/resultat_st_leonard_04_04_2026.jpg"
                    alt="Compétition de Saint-Léonard – Maelle BESSON LAHAYE"
                    class="result-img"
                />
            </Card>
            <Card variant="result">
                <h3>Tournoi coeur de Lion CHALUS</h3>
                <strong>1er - Mohamed ALI</strong>
                <img
                    src="/images/resultats/tournoi-coeur-de-lion-chalus.jpg"
                    alt="Tournoi coeur de Lion CHALUS – Mohamed ALI"
                    class="result-img"
                />
            </Card>
            <Card variant="result">
                <h3>Compétition St Junien - Mai 2026</h3>
                <strong>1er - Jules ROUSSEAU</strong>
                <img
                    src="/images/resultats/resultat_saint_junien_05_2026.jpg"
                    alt="Compétition St Junien – Jules ROUSSEAU"
                    class="result-img"
                />
            </Card>
        </div>
    </Section>
</MainLayout>