---
import MainLayout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<MainLayout title="Accès réservé">
    <Hero
            title="Espace réservé"
            subtitle="Connexion requise pour accéder aux documents du club"
            small={true}
    />
    <Section>
        <button onclick="window.netlifyIdentity.open()">
            Se connecter
        </button>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                if (window.netlifyIdentity) {
                    window.netlifyIdentity.init();

                    window.netlifyIdentity.on("login", () => {
                        window.location.href = "/espace-club-private/";
                    });
                } else {
                    console.error("Netlify Identity non chargé");
                }
            });
        </script>
    </Section>
</MainLayout>