---
import MainLayout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<MainLayout title="Accès réservé">
    <Hero
            title="Espace réservé"
            subtitle="Connexion requise pour accéder aux documents du club"
            small={true}
    />

    <Section>
        <button id="login">Connexion</button>
    </Section>

    <script type="module">
        import identity from "../scripts/indentity.js";

        document.getElementById("login").addEventListener("click", () => {
            const email = prompt("Email");
            const password = prompt("Mot de passe");

            identity
                .login(email, password)
                .then(user => {
                    window.location.href = "/espace-club-private/";
                })
                .catch(err => {
                    console.error(err);
                    alert("Erreur login");
                });
        });
    </script>
</MainLayout>