---
import MainLayout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout title="Contact – CAPO Judo Limoges">
    <Hero
        title="Contact – CAPO Judo Limoges"
        subtitle="Pour toute information, n’hésitez pas à nous contacter."
        small={true}
    />
    <Section>
        <div class="contact-grid">
            <Card>
                <h2>Président</h2>
                <h3>Laurent MOREAU</h3>
                <p>
                    <strong>Téléphone :</strong><br />
                    <a href="tel:+33634013545">06 34 01 35 45</a>
                </p>
                <p>
                    <strong>Email :</strong><br />
                    <a href="mailto:capo-judo@orange.fr">
                        capo-judo@orange.fr
                    </a>
                </p>
            </Card>
            <Card>
                <h2>Secrétaire</h2>
                <h3>Isabelle MINOT</h3>
                <p>
                    <strong>Téléphone :</strong><br />
                    <a href="tel:+33617807789">06 17 80 77 89</a>
                </p>
                <p>
                    <strong>Email :</strong><br />
                    <a href="mailto:isaminot@net-c.com">
                        isaminot@net-c.com
                    </a>
                </p>
            </Card>
            <Card>
                <h2>Trésorière</h2>
                <h3>Cécile MEILLAC</h3>
                <p>
                    <strong>Téléphone :</strong><br />
                    <a href="tel:+33770179628">07 70 17 96 28</a>
                </p>
                <p>
                    <strong>Email :</strong><br />
                    <a href="mailto:judomaseloi@gmail.com">
                        judomaseloi@gmail.com
                    </a>
                </p>
            </Card>

        </div>
    </Section>
</MainLayout>