---
import MainLayout from "../layouts/Layout.astro";
---

<MainLayout title="Contact – CAPO Judo Limoges">
    <section class="hero small-hero">
        <div class="container">
            <h1>Contact – CAPO Judo Limoges</h1>
            <p>Pour toute information, n’hésitez pas à nous contacter.</p>
        </div>
    </section>
    <section class="section">
        <div class="container contact-grid">
            <div class="contact-card">
                <h2>Président</h2>
                <h3>Laurent MOREAU</h3>
                <p><strong>Téléphone :</strong>
                    <a href="tel:+33634013545">06 34 01 35 45</a>
                </p>
                <p><strong>Email :</strong>
                    <a href="mailto:capo-judo@orange.fr">capo-judo@orange.fr</a>
                </p>
            </div>
            <div class="contact-card">
                <h2>Secrétaire</h2>
                <h3>Isabelle MINOT</h3>
                <p><strong>Téléphone :</strong>
                    <a href="tel:+33617807789">06 17 80 77 89</a>
                </p>
                <p><strong>Email :</strong>
                    <a href="mailto:isaminot@net-c.com">isaminot@net-c.com</a>
                </p>
            </div>
            <div class="contact-card">
                <h2>Trésorière</h2>
                <h3>Cécile MEILLAC</h3>
                <p><strong>Téléphone :</strong>
                    <a href="tel:+33770179628">07 70 17 96 28</a>
                </p>
                <p><strong>Email :</strong>
                    <a href="mailto:judomaseloi@gmail.com">judomaseloi@gmail.com</a>
                </p>
            </div>
        </div>
    </section>
</MainLayout>