---
import MainLayout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<MainLayout title="Horaires des Cours – CAPO Judo Limoges">
    <Hero
        title="Horaires des Cours"
        subtitle="Consultez les créneaux d’entraînement du CAPO Judo Limoges."
        small={true}
    />
    <Section>
        <div class="table-wrapper">
            <table class="schedule-table">
                <thead>
                <tr>
                    <th>Catégorie</th>
                    <th>Jour</th>
                    <th>Horaire</th>
                    <th>Lieu</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Jusqu’à Benjamins</td>
                    <td>Mardi et Vendredi</td>
                    <td>17h45 à 18h45</td>
                    <td>Dojo Locarno</td>
                </tr>
                <tr>
                    <td>Minimes et plus</td>
                    <td>Mardi et Vendredi</td>
                    <td>18h45 à 20h15</td>
                    <td>Dojo Locarno</td>
                </tr>
                <tr>
                    <td>Réservé aux élèves de l’école</td>
                    <td>Jeudi</td>
                    <td>14h00 à 15h15</td>
                    <td>Dojo Mas Eloi</td>
                </tr>
                </tbody>
            </table>
        </div>
    </Section>
</MainLayout>