---
import MainLayout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout title="CAPO Judo Limoges – Club de Judo à Limoges" pageClass="home-page">
    <Hero
        title="CAPO Judo Limoges"
    >
        <p class="hero-address">
            Situé
            <a
                href="https://www.google.com/maps/search/?api=1&query=25+Avenue+Locarno+87100+Limoges"
                target="_blank"
                rel="noopener"
            >
                25 Avenue Locarno, 87100 Limoges
            </a>
        </p>
        <p>Club Label de Bronze – France Judo</p>
        <img
            src="/images/bronze.png"
            alt="Label Bronze France Judo"
            class="logo-lg"
        />
    </Hero>
</MainLayout>