---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/layout.css";
import "../styles/components/header.css";
import "../styles/components/footer.css";
import "../styles/components/hero.css";
import "../styles/components/button.css";
import "../styles/components/card.css";
import "../styles/components/grades.css";
import "../styles/components/timeline.css";
import "../styles/components/contact.css";
import "../styles/components/bureau.css";
import "../styles/components/inscription.css";
import "../styles/components/cours.css";
import "../styles/components/code.css";
import "../styles/components/competitions.css";
import "../styles/components/actualite.css";
import "../styles/components/article.css";

const { title, pageClass = "" } = Astro.props;
---

<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
</head>
<body class={`site ${pageClass}`}>
	<Header />
	<main class="site-main">
		<slot />
	</main>
	<Footer />
</body>
</html>